# Ignora todos os conteúdos dentro de diretórios .terraform em qualquer nível.
**/.terraform/*
.terraform.lock.hcl
tfplan

# Ignora arquivos relacionados ao estado do terraform
errored.tfstate
*.tfstate
*.tfstate.*
!./tfstate-bucket/terraform.tfstate
!./tfstate-bucket/terraform.tfstate.backup

# Ignora arquivos de logs de crash.
crash.log
crash.*.log

# Ignora arquivos de variáveis Terraform que podem conter informações sensíveis.
*.tfvars
*.tfvars.json

#Ignora arquivos de override locais.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignora arquivos de configuração do Terraform.
.terraformrc
terraform.rc

#Ignorar diretório
bkp/